{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container sign-up-page">
        {% for error in errors %}
            <article>
                <header>
                    Vérifier les informations saisies
                </header>
                <ul>
                    <li>{{ error }}</li>
                </ul>
            </article>
        {% endfor %}
        <h2>Balance ton Santa !</h2>
        <div id="form-container">
            <form action="" method="post" id="form1">
                <h4>SDM</h4>
                <fieldset>
                    <label for="pseudo">Votre pseudo :
                    </label>
                    <input type="text" id="pseudo" name="pseudo" required placeholder="Julien">
                </fieldset>
                <label for="title">Choose a title :
                </label>
                <input type="text" id="title" name="title" required placeholder="your title here !!">
                <fieldset>
                    <label for="story">Your SDM :
                    </label>
                    <input type="text" id="story" name="story" required>
                </fieldset>
                <fieldset>
                    <label for="photo">Add a picture from url :
                    </label>
                    <input type="text" id="photo" name="photo" required>
                    <input type="hidden" id="love" name="love" value= 0>
                    <input type="hidden" id="no_love" name="no_love" value= 0>
                </fieldset>
                <div class="buttons-line">
                    <button type="submit">Publish</button>
                </div>
            </form>
        </div>
    </div>
{% block title %}Balance ton Santa{% endblock %}
    {% for post in posts %}
        <article>
            <header>{{ post.pseudo }}</header>
            <img src="{{ post.photo }}" alt="Photo de {{ psot.pseudo }}">
            <footer>{{ user.story }}</footer>
        </article>
        <form class='like' action="" method="post">
            <input type="hidden" name="targetId" value={{user.id}}>
            <input type="submit" value= 1>
        </form>
    {% endfor %}
{% endblock %}
